<html>
<head>
<link href="resources/mock.css" rel="stylesheet"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="resources/perfect-scrollbar.min.css" rel="stylesheet">
</head>
<body ng-app="OathStructure" ng-controller="AppController">

<div id="player-chrome" ng-controller="PlayerController">
    <div class="scrubber-fill"></div>

    <div class="song-info" ng-show="currentSong" ng-cloak>
        <div class="cover-image"
             style="background-image: url('https://i.ytimg.com/vi/{{currentSong.youtubeImageId}}/mqdefault.jpg')">
        </div>
        <div class="song-title text">{{currentSong.title}}</div>
        <div class="artist-name text">{{currentSong.artist}}</div>
        <div class="album-name text">{{currentSong.album}}</div>
    </div>

    <div class="player-controls">
        <div class="replay button fa fa-backward"></div>
        <div class="play button fa fa-play" ng-click="play()" ng-hide="playing"></div>
        <div class="pause button fa fa-pause" ng-click="pause()" ng-show="playing"></div>
        <div class="stop button fa fa-stop"></div>
        <div class="skip button fa fa-forward" ng-click="forward()"></div>
    </div>
</div>

<div id="playlist-manager">
    <div id="queue-container" ng-controller="QueueController">
        <div class="video-player" id="youtube-player-1"></div>
        <div class="video-player inactive" id="youtube-player-2"></div>

        <div class="queue-actions">
            <div class="action-button fa fa-random left"></div>
            <div class="action-button fa fa-repeat left"></div>
            <div class="action-button fa fa-trash right"></div>
            <div class="action-button fa fa-upload right"></div>
            <div class="action-button fa fa-save right"></div>
        </div>
        <perfect-scrollbar class="queue" wheel-propagation="false" wheel-speed="20" refresh-on-change="queue" ng-cloak>
            <div class="song" ng-repeat="song in queue" ng-class="{playing: song.playing}">
                <div class="cover-image"
                     style="background-image: url('https://i.ytimg.com/vi/{{ song.youtubeImageId }}/mqdefault.jpg')">
                </div>
                <div class="fa fa-play-circle-o play-button" ng-click="jumpTo(song)"></div>
                <div class="song-title text">{{ song.title }}</div>
                <div class="artist-name text">{{ song.artist }}</div>
            </div>
        </perfect-scrollbar>
    </div>

    <div class="library-container" ng-controller="LibraryController" ng-cloak>
        <input type="text" class="search" placeholder="Search {{library.length}} songs" ng-model="searchQuery">

        <div class="library">
            <div class="header">
                <span class="track-number">&nbsp;</span>
                <span class="title">Title</span>
                <span class="artist">Artist</span>
                <span class="album">Album</span>
            </div>
            <perfect-scrollbar class="body" wheel-propagation="false" wheel-speed="20" refresh-on-change="searchQuery" scroll-up="true">
              <div>
                <div class="song" ng-repeat="song in library | filter:searchQuery">
                    <span class="track-number">{{ song.trackNumber }}</span>
                    <span class="add-button fa fa-plus" ng-click="addToQueue(song)"></span>
                    <span class="title">{{ song.title }}</span>
                    <span class="artist">{{ song.artist }}</span>
                    <span class="album">{{ song.album }}</span>
                </div>
              </div>

              <div class="import">
                Can't find what you're looking for? <div class="button" ng-click="startImport()">Import a Library</div>.
              </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>

<div class="import-modal" ng-show="importing">
  <div>
    <textarea ng-model="importText"></textarea>
    <div class="button-container">
      <div class="button" ng-click="importFrom(importText)">Import</div>
      <div class="button" ng-click="cancelImport()">Cancel</div>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="resources/angular.min.js" type="text/javascript"></script>
<script src="resources/perfect-scrollbar.with-mousewheel.min.js" type="text/javascript"></script>
<script src="resources/angular-perfect-scrollbar.js" type="text/javascript"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="resources/message.js"></script>
<script src="resources/library_importer.js"></script>
<script src="resources/deejay.js"></script>
<script src="resources/linked_list.js"></script>

<script type="text/javascript">
"use strict";

function parseLibrary(text) {
  text = removeComments(text)

  var album, artist, art, songs = []
  var anyWhitespaceContainingAtLeastTwoNewlines = /\n\s*\n\s*/
  var anythingFollowingAHashSymbol = /#[^\n]\n/g

  var sections = text.split(anyWhitespaceContainingAtLeastTwoNewlines)
  sections = sections.map(function(s) { return s.split(/\n/) })

  for (var section of sections) {
    if (section.length === 1) {
      artist = textFrom(section[0])
    } else {
      album = textFrom(section[0])
      art = youtubeIdFrom(section[0])

      for (var i = 1; i < section.length; i++) {
        songs.push({
          title: textFrom(section[i]),
          artist: artist,
          album: album,
          trackNumber: i,
          youtubeId: youtubeIdFrom(section[i]),
          youtubeImageId: art
        })
      }
    }
  }

  return songs

  function removeComments() {
    return text.replace(anythingFollowingAHashSymbol, "\n")
  }

  function textFrom(line) {
    return line.substring(11, line.length).trim()
  }

  function youtubeIdFrom(line) {
    return line.substring(0, 11)
  }
}

function onYouTubeIframeAPIReady() {
  var deejay = new Deejay()
}

var app = angular.module('OathStructure', ['perfect_scrollbar'])

app.controller('LibraryController', function($scope) {
  $scope.addToQueue = function(song) {
    message.send('add-to-queue', song)
  }
})

app.controller('AppController', function($scope) {
  $scope.searchQueryChars = function() {
    if (!$scope.searchQuery) return []
    return $scope.searchQuery.split('')
  }

  $scope.startImport = function() {
    $scope.importing = true
  }

  $scope.importFrom = function(text) {
    $scope.library = parseLibrary(text || '')
    localStorage['oath-structure-library'] = text
    $scope.importing = false
  }

  $scope.cancelImport = function() {
    $scope.importing = false
  }

  $scope.importFrom(localStorage['oath-structure-library'])
})

app.controller('QueueController', function($scope) {
  $scope.queue = []

  message.on('deejay-needs-a-song', function() {
    advance()
    message.send('play-now', current())
  })

  message.on('add-to-queue', function(song) {
    $scope.queue.push(song)
  })


  function current() {
    return songAt(currentlyPlayingIndex())
  }

  function advance() {
    var currentlyPlaying = currentlyPlayingIndex()

    if (currentlyPlaying === null && indexInQueue(0)) {
      songAt(0).playing = true
      return
    }

    if (currentlyPlaying !== null) {
      songAt(currentlyPlaying).playing = false
    }

    if (indexInQueue(currentlyPlaying + 1)) {
      songAt(currentlyPlaying + 1).playing = true
    }
  }

  $scope.jumpTo = function(song) {
    var currentlyPlaying = currentlyPlayingIndex()
    if (currentlyPlaying !== null) {
      songAt(currentlyPlaying).playing = false
    }

    song.playing = true

    message.send('play-now', song)
  }

  function indexInQueue(i) {
    return i < $scope.queue.length && i >= 0
  }

  function songAt(index) {
    return $scope.queue[index]
  }

  function currentlyPlayingIndex() {
    for (var i = 0; i < $scope.queue.length; i++) {
      if ($scope.queue[i].playing) {
        return i
      }
    }
    return null
  }
})

app.controller('PlayerController', function($scope) {
  $scope.play = function() {
    message.send('play')
  }

  $scope.pause = function() {
    message.send('pause')
  }

  $scope.forward = function(){
    message.send('forward')
  }

  message.on('play-now', function(song) {
    $scope.currentSong = song
  })

  message.on('song-playing', function(progress) {
    $scope.playing = true;
    updateProgress(progress)
  })

  message.on('song-paused', function(progress) {
    $scope.playing = false;
    updateProgress(progress)
  })

  message.on('song-ended', function() {
    updateProgress({position: 0, total: 1})
  })

  message.on('song-paused-from-youtube-player', function() {
    $scope.$apply(function() {
      $scope.playing = false
    })
  })

  message.on('song-played-from-youtube-player', function() {
    $scope.$apply(function() {
      $scope.playing = true
    })
  })

  message.on('song-progress', function(progress) {
    if ($scope.playing) updateProgress(progress, true)
  })

  function updateProgress(progress, animate) {
    var lookahead = animate ? 1 : 0
    var fraction = (progress.position + lookahead) / progress.total
    $('.scrubber-fill').css('transition', animate ? '1s linear' : '0s')
    $('.scrubber-fill').css('transform', 'scaleX('+fraction+')')
  }
})
</script>
</body>
</html>
