<html>
<head>
<link rel="icon" type="image/x-icon" href="resources/favicon.ico">
<link href="resources/app.css" rel="stylesheet"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="resources/perfect-scrollbar.min.css" rel="stylesheet">
<!-- <base href="/feeb.us/"> -->
</head>
<body ng-app="OathStructure" ng-controller="AppController" ng-keypress="keypress($event)">

<div id="player-chrome" ng-controller="PlayerController" >
    <div class="scrubber-fill" ></div>

    <div class="song-info" ng-show="currentSong()" ng-cloak>
        <div class="cover-image"
             style="background-image: url({{currentSong().albumArtUrl}}), url('https://i.ytimg.com/vi/{{currentSong().youtubeImageId}}/hqdefault.jpg')">
        </div>
        <div class="song-title text">{{currentSong().title}}</div>
        <div class="artist-name text">{{currentSong().artist}}</div>
        <div class="album-name text">{{currentSong().album}}</div>
    </div>

    <div class="player-controls" ng-click = "seekTo($event)">
        <div class="replay button fa fa-backward" ng-click = "back(); $event.stopPropagation();"></div>
        <div class="play button fa fa-play" ng-click="play(); $event.stopPropagation();" ng-hide="playing()"></div>
        <div class="pause button fa fa-pause" ng-click="pause(); $event.stopPropagation();" ng-show="playing()"></div>
        <div class="stop button fa fa-stop" ng-click="stop(); $event.stopPropagation();"></div>
        <div class="skip button fa fa-forward" ng-click="forward(); $event.stopPropagation();"></div>
    </div>
</div>

<div id="playlist-manager">
    <div id="queue-container" ng-controller="QueueController" ng-class="{'with-video': show == 'video', 'with-album-art': show == 'album-art', 'no-visuals': show == 'none'}">
        <div class="visual-container" ng-cloak>
          <div class="view-options">
            <div class="action-button left fa fa-youtube-play" title="Show video" ng-click="show = 'video'"></div>
            <div class="action-button left fa fa-picture-o" title="Show album art" ng-click="show = 'album-art'"></div>
            <div class="action-button left fa fa-minus" title="Hide" ng-click="show = 'none'"></div>
          </div>
          <div class="video-player-container">
            <div class="video-player" id="youtube-player"></div>
          </div>
          <div class="album-art-container">
               <div class="album-art" ng-show="albumArt()" style="background-image: url({{albumArt()}}), url('https://i.ytimg.com/vi/{{ albumArt() }}/hqdefault.jpg')">
               </div>
               <div class="album-art placeholder" ng-show="!albumArt()" style="background-image: url('resources/default_album.png')">
               </div>
          </div>
          <div class="spacer"
               ng-show="show == 'none'"></div>
        </div>

        <div class="queue-actions">
            <div class="action-button fa fa-random left" ng-click = "shuffle()" ng-class="{active: shuffled}"></div>
            <div class="action-button fa fa-refresh left" ng-click = "repeat()" ng-class="{active: repeatQueue}" ></div>
            <div class="action-button fa fa-trash right" ng-click = "removeAll()"></div>
            <!-- I know trash might be used for something else, but it's just for now. Not sure how you'll delete in the current UI -->
            <div class="action-button fa fa-save right" ng-click = "savingPlaylist()"></div>
        </div>
        <perfect-scrollbar class="queue" wheel-propagation="false"  suppressScrollX = "true" wheel-speed="20" refresh-on-change="queue" use-keyboard="false" ng-cloak>
          <div ui-sortable="{axis: 'y'}" ng-model="queue">
            <div id= "anchor{{$index}}" class="song" ng-repeat="song in queue track by $index" ng-class="{playing: song.playing, selected: song.selected}">
                <div class="cover-image"
                     style="background-image: url({{song.albumArtUrl}}),  url('https://i.ytimg.com/vi/{{ song.youtubeImageId }}/hqdefault.jpg')">
                </div>
                <div class="fa fa-play-circle-o play-button" ng-click="jumpTo(song);"></div>
                <div class="song-title text">{{ song.title }}</div>
                <div class="artist-name text">{{ song.artist }}</div>
                <div class="close button fa-close fa" ng-click="remove(song)"></div>
            </div>
          </div>
        </perfect-scrollbar>
    </div>

    <div class="library-container" ng-controller="LibraryController" ng-cloak ng-popstate="onPopState($state)">
        <div class="tabs">
            <div class="tab" ng-class="{selected: (tab == 'playlists')}" ng-click = "selectTab('playlists')">Playlists</div>
            <div class="tab "  ng-class="{selected: (tab == 'library')}" ng-click = "selectTab('library')">Library</div>
            <div class="tab"  ng-class="{selected: (tab == 'catalog')}" ng-click = "selectTab('catalog')">Catalog</div>
            <div class="search"  >
              <input id="searchbar" type="text" class="searchbar" placeholder="Search {{tab}}" ng-model="searchQuery" ng-model-options="{ debounce: 300 }" ng-get="blur()" ng-focus="showResults=true">
              <div class="search-results" ng-show="showResults && tab == 'catalog'" ng-mousedown="onSearchResults=true" ng-mouseup="onSearchResults=false;">
                <div class="header" ng-show = "trackResults.length > 0"> Songs </div>
                <div class="song-results" ng-repeat= "song in trackResults"  ng-click="getAlbumTracks(song.album, song)" >
                  <div class="song-title text">{{ song.name }}</div>
                  <div class="artist-name text">{{ song.artists[0].name }}</div>
                </div>
                <div class="header" ng-show = "artistResults.length > 0"> Artists </div>
                <div class="artist-results" ng-repeat= "artist in artistResults"  ng-click="getArtistAlbums(artist)">
                  <div class="cover-image"
                       style="background-image: url({{artist.images[2].url}}), url('/resources/profile-icon.png')">
                  </div>
                  <div class="artist-name text" >{{ artist.name }}</div>
                </div>
                <div class="header" ng-show = "albumResults.length > 0"> Albums </div>
                <div class="album-results" ng-repeat= "album in albumResults" ng-click="getAlbumTracks(album)">
                  <div class="cover-image"
                       style="background-image: url({{album.images[2].url}}), url(/resources/profile-icon.png)">
                  </div>
                  <div class="album-name text" >{{ album.name }}</div>
                </div>
              </div>
            </div>


            <div class="clear"></div>
        </div>


        <div class="library" ng-show = "tab == 'library'">
            <div class="header">
                <span class="track-number">&nbsp;</span>
                <span class="title">Title</span>
                <span class="artist">Artist</span>
                <span class="album">Album</span>
                <span class="empty"> </span>
            </div>
            <perfect-scrollbar class="body" wheel-propagation="false" suppressScrollX = "true" wheel-speed="20" refresh-on-change="searchQuery" scroll-up="true" use-keyboard="false">
              <div>
                <div class="song clearfix"
                     ng-attr-title="{{song.youtubeId == null || song.youtubeId == '' ? 'This song is unplayable. Edit it.' : ''}}"
                     ng-class= "{unplayable: song.youtubeId==null || song.youtubeId == '' }"
                     ng-repeat="song in library | filter:searchQuery track by $index"
                     ng-click="select(song)">
                    <span class="track-number">{{ song.trackNumber }}</span>
                    <span class="add-button fa fa-plus" ng-click="addToQueue(song)"></span>
                    <span class="play-now fa fa-play" ng-click="playNow([song])"></span>
                    <span class="title">{{ song.title }}</span>
                    <span class="artist">{{ song.artist }}</span>
                    <span class="album">
                      <span class="add-button fa fa-plus" ng-click = "addLibraryAlbumToQueue(song)">&nbsp;Add Album</span>
                      <span class="play-now fa fa-play"  ng-click = "playAlbumNow(song)">&nbsp;Play Now</span>
                      <span class="text">{{ song.album }}</span>
                    </span>
                    <span class="empty"></span>
                    <span class="edit fa-pencil fa" ng-click="editSong(song)"></span>
                    <span class="delete fa-close fa" ng-click="deleteSongFromLibrary(song)"></span>

                </div>
              </div>

              <div class="import" ng-show="library.length > 0">
                Can't find what you're looking for? <div class="button" ng-click="selectTab('catalog')">Search Catalog</div> or <div class="button" ng-click="addSongManually()"> Add Song Manually </div>
              </div>

              <div class="import" ng-show="library.length == 0">
                You don't have any songs in your library yet! <div class="button" ng-click="selectTab('catalog')">Search Catalog</div>.
              </div>
            </perfect-scrollbar>
        </div>

        <div class= "playlists" ng-show = "tab == 'playlists'">
          <div class="names-list-container">
            <perfect-scrollbar class="names-list" wheel-propagation="false" wheel-speed="20" suppress-scroll-x = "true" refresh-on-change="searchQuery" scroll-up="true" use-keyboard="false">
                <div class="list-name" ng-repeat="list in playlists | filter:searchQuery"  ng-click = "selectPlaylist(list)" ng-class= "{selected: list.selected}">
                    <span class="delete fa-close fa" ng-click="deletePlaylist(list)"></span>
                    <span class="name">{{ list.name}}</span>
                </div>
            </perfect-scrollbar>
          </div>
          <div class= 'list-container' ng-hide = "selectedPlaylist.name == undefined">
            <div class = "playlist-header" >
              <div class="playlist-title"> {{selectedPlaylist.name}} </div>
              <div class="play-now fa-play-circle-o fa" ng-click = "playListNow(selectedPlaylist.tracks)"></div>
              <div class= "button-container">
                <div class="add-playlist" ng-click = "addAllToQueue(selectedPlaylist.tracks, selectedPlaylist.name)"> Add To Queue </div>
              </div>
              <div class="header">
                  <span class="track-number">&nbsp;</span>
                  <span class="title">Title</span>
                  <span class="artist">Artist</span>
                  <span class="album">Album</span>
              </div>
            </div>
            <div class"track-container">
              <perfect-scrollbar class = "tracks" suppress-scroll-x="true" wheel-propagation="false" wheel-speed="20" refresh-on-change="searchQuery" scroll-up="true" use-keyboard="false">
                <div>
                  <a name="playlist-top"></a>
                  <div class="song" ng-repeat="song in selectedPlaylist.tracks | filter:searchQuery">
                    <span class="track-number">{{ $index +1 }}</span>
                    <span class="add-button fa fa-plus" ng-click="addToQueue(song)"></span>
                    <span class="play-button fa fa-play" ng-click="playNow([song])"></span>
                    <span class="title">{{ song.title }}</span>
                    <span class="artist">{{ song.artist }}</span>
                    <span class="album">{{ song.album }}</span>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
        </div>


        <perfect-scrollbar class = "catalog" ng-show="tab == 'catalog'" suppressScrollX = "true" wheel-propagation="false" wheel-speed="20" scrollUp="true" use-keyboard="false">
          <a name="catalog-top"></a>
          <div class = "artist-header"  ng-hide="showAlbum">
            <div class="artist-image"
                 style="background-image: url({{artist.images[1].url}}), url('/resources/profile-icon.png')">
            </div>
            <div class="artist-name"> {{artist.name}} </div>
            <div id="clear" style="clear:both;"></div>
          </div>
          <div style="clear: both;" ng-hide="showAlbum"></div>
          <div class="albums" ng-repeat="album in albumList" ng-hide="showAlbum">
            <div class = "big-cover-image" ng-click = "getAlbumTracks(album)"
                 style="background-image: url({{album.images[1].url}})">
                 <div class="hover-name"> {{album.name}}</div>
            </div>
          </div>
          <div class = "album-header" ng-show="showAlbum && selectedAlbum.images">
            <div class="album-image"
                 style="background-image: url({{selectedAlbum.images[1].url}}), url('/resources/default_album.png')">
            </div>
            <div class="album-name"> {{selectedAlbum.name}} </div>
            <div id="clear" style="clear:both;"></div>
            <div class= "button-container" >
              <div class="play-now fa-play-circle-o fa" ng-click = "playNow(trackList)"></div>
              <div class="add-album" ng-click = "addAlbumToQueue(trackList)"> Add To Queue </div>
              <div class="add-to-library" ng-click = "addAlbumToLibrary(trackList)"> Add To Library </div>
            </div>
          </div>

          <div style="clear: both;" ng-show="showAlbum && selectedAlbum.images"></div>
          <div class="header" ng-show="showAlbum && selectedAlbum.images">
              <span class="track-number">&nbsp;</span>
              <span class="title">Title</span>
              <span class="artist">Artist</span>
              <span class="album">Album</span>
          </div>
          <div class="song" ng-repeat="song in trackList | orderBy:['discNumber','trackNumber']" ng-show="showAlbum" ng-class= "{selected: song.selected, unplayable: song.youtubeId==null || song.youtubeId == '' }"
            ng-attr-title="{{song.youtubeId == null || song.youtubeId == '' ? 'This song is unplayable. Add to library to edit.' : ''}}">
            <span class="track-number">{{ song.trackNumber }}</span>
            <span class="add-button fa fa-plus" ng-click="addToQueueAndLibrary(song)"></span>
            <span class="play-button fa fa-play" ng-click="playNow([song])"></span>
            <span class="title">{{ song.title }}</span>
            <span class="artist">{{ song.artist }}</span>
            <span class="album">{{ song.album }}</span>
          </div>
        </perfect-scrollbar>
    </div>
</div>

<div class="save-playlist-modal" ng-show="savingPlaylist" ng-cloak>
  <div>
    <input type ="text" id="model" ng-model="playlistName"></input>
    <div class="button-container">
      <div class="button" ng-click="savePlaylist(playlistName)">Save</div>
      <div class="button" ng-click="cancelSavePlaylist()">Cancel</div>
    </div>
  </div>
</div>

<div class="save-playlist-modal" ng-show="editingSong" ng-cloak>
  <div>
    <span ng-show="pendingChanges.discNumber !== undefined"> Disc Number </span>
    <input type ="number" id="discNumber" ng-model="pendingChanges.discNumber" ng-show="pendingChanges.discNumber !== undefined"></input>
    <span> Track Number </span>
    <input type ="number" id="trackNumber" ng-model="pendingChanges.trackNumber"></input>
    <span> Title </span>
    <input type ="text" id="title"ng-model="pendingChanges.title"></input>
    <span> Artist </span>
    <input type ="text" id="artist" ng-model="pendingChanges.artist"></input>
    <span> Album </span>
    <input type ="text" id="album" ng-model="pendingChanges.album"></input>
    <span> YouTube ID </span>
    <input type ="text" id="youtubeId" ng-model="pendingChanges.youtubeId"></input>
    <span> Album Art URL </span>
    <input type ="text" id="albumArt" ng-model="pendingChanges.albumArtUrl"></input>
    <div class="button-container">
      <div class="button" ng-click="saveEdit()">Save</div>
      <div class="button" ng-click="cancelSongEdit()">Cancel</div>
    </div>
  </div>
</div>


<div class="save-playlist-modal" ng-show="addingSong" ng-cloak>
  <div>
    <input type ="number" id="trackNumber" ng-model="songToAdd.trackNumber" placeholder="Track #"></input>
    <input type ="text" id="title" ng-model="songToAdd.title"placeholder="Song Title"></input>
    <input type ="text" id="artist" ng-model="songToAdd.artist" placeholder="Artist"></input>
    <input type ="text" id="album" ng-model="songToAdd.album" placeholder="Album Name"></input>
    <input type ="text" id="youtubeId" ng-model="songToAdd.youtubeId" placeholder="YouTube ID"></input>
    <input type ="text" id="albumArt" ng-model="songToAdd.albumArtUrl" placeholder="Album Art Url"></input>
    <div class="button-container">
      <div class="button" ng-click="saveSong()">Save</div>
      <div class="button" ng-click="cancelSongAdd()">Cancel</div>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="resources/jquery-ui.min.js"></script>
<script src="//cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="resources/angular.min.js" type="text/javascript"></script>
<script src="resources/perfect-scrollbar.with-mousewheel.min.js" type="text/javascript"></script>
<script src="resources/angular-perfect-scrollbar.js" type="text/javascript"></script>
<script src="resources/sortable.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="resources/message.js"></script>
<script src="resources/app.js"></script>
<script src="resources/library_parser.js"></script>
<script src="resources/services/deejay.js"></script>
<script src="resources/services/youtube.js"></script>
<script src="resources/services/spotify.js"></script>
<script src="resources/services/titleChanger.js"></script>
<script src="resources/controllers/app.js"></script>
<script src="resources/controllers/library.js"></script>
<script src="resources/controllers/player.js"></script>
<script src="resources/controllers/queue.js"></script>
<script src="resources/iframeAPI.js"></script>




<script type="text/javascript">
"use strict";

var youtubeIframeApiIsTotallyReady = false
function onYouTubeIframeAPIReady() {
  youtubeIframeApiIsTotallyReady = true
  message.send('youtube-iframe-api-ready')
}




</script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70093994-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
