$brand-orange: #f67f00;
$brand-tan: #e8e8e0;
$medium-gray: #444;
$greyed-out-text: #aaa;

@mixin ellipsize-single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', Helvetica, sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input:focus {
  outline: 0;
}

#player-chrome {
  height: 80px;
  width: 100%;
  background-color: $medium-gray;
  position: relative;
  .song-info {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 70px;
    width: 210px;
  }
}

.song-info {
  .text {
    position: absolute;
    left: 75px;
    height: 33%;
    width: 140px;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    text-shadow: 0px 1px 0 #333;
    white-space: nowrap;
    &:before {
      color: #ddd;
      text-shadow: none;
      font-size: 12px;
    }
  }
  .song-title {
    top: 0%;
  }
  .artist-name {
    top: 33%;
    &:before {
      content: 'by: ';
    }
  }
  .album-name {
    top: 67%;
    &:before {
      content: 'on: ';
    }
  }
}

.cover-image {
  height: 100%;
  width: 70px;
  background-color: #efefef;
  border: 2px solid #efefef;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrubber-fill {
  background-color: $brand-orange;
  height: 100%;
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
}

.player-controls {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  .play.button, .pause.button {
    font-size: 50px;
    width: 43px;
  }
}

.button {
  cursor: pointer;
}

.player-controls .button {
  color: #fff;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  position: relative;
  top: 15px;
}

#playlist-manager {
  position: absolute;
  width: 100%;
  top: 80px;
  bottom: 0px;
  background-color: $brand-tan;
}

#queue-container {
  position: relative;
  width: 320px;
  height: 100%;
  background-color: $medium-gray;
  overflow: hidden;
}

.video-player-container {
  height: 0px;
  overflow: hidden;
}

.with-video .video-player-container {
  height: 195px;
}

.album-art-container {
  display: none;
  width: 100%;
  height: 320px;
}

.with-album-art .album-art-container {
  display: block;
}

.album-art {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.queue {
  position: absolute;
  overflow-y: hidden;
  bottom: 0;
  top: 60px;
  width: 320px;
}

.with-video .queue {
  top: 225px;
}

.with-album-art .queue {
  top: 350px;
}

.queue .song {
  height: 60px;
  width: 300px;
  margin: 5px;
  background-color: #222;
  border: 1px solid #222;
  position: relative;
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  font-size: 13px;
  color: #d0d0d0;
  border-top: 1px solid #555;
  overflow: hidden;
  &.playing {
    background-color: $brand-orange;
  }
  &.done {
    opacity: 0.5;
  }
}

.song .cover-image {
  width: 60px;
  border: none;
  border-right: 1px solid #222;
}

.queue .song .text {
  position: absolute;
  left: 65px;
  line-height: 25px;
  white-space: nowrap;
}

.song.playing .text {
  text-shadow: 0px 1px 0 #333;
  color: #fff;
}

.queue .song {
  .song-title {
    top: 0%;
  }
  .artist-name {
    top: 40%;
  }
  .close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    content: '\f00d';
    /* close */
    line-height: 20px;
    color: #ddd;
    text-align: center;
    font-family: 'FontAwesome';
    overflow: hidden;
  }
  &:hover {
    background-color: #111;
  }
  &.playing:hover {
    background-color: $brand-orange;
  }
  &:hover .close {
    display: block;
  }
  .close:hover {
    color: #fff;
  }
  .play-button {
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    left: 0;
    line-height: 60px;
    font-size: 40px;
    opacity: 0.5;
    background-color: #222;
    text-align: center;
  }
  &:hover .play-button {
    display: block;
    &:hover {
      opacity: 0.8;
    }
  }
}

.queue-actions {
  height: 30px;
  width: 100%;
}

.view-options {
  height: 30px;
  width: 100%;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.visual-container:hover .view-options, .no-visuals .view-options {
  display: block;
}

.spacer {
  height: 30px;
}

.action-button {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  &.fa {
    height: 100%;
    min-width: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding-top: 2px;
    color: #ddd;
    text-shadow: 0 -1px 0 #111;
  }
  &:hover {
    color: #fff;
  }
  &.active {
    color: #00b43d;
  }
}

.library-container {
  left: 320px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  padding: 20px;
  .search {
    position: relative;
    float: right;
    .search-results {
      background-color: $medium-gray;
      color: #eeeeee;
      font-size: 13px;
      line-height: 18px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 18px;
      padding-bottom: 10px;
      text-shadow: 0 1px 0 black;
      position: absolute;
      top: 16px;
      left: 0;
      right: 0;
      z-index: 1;
      border-radius: 0 0 16px 16px;
    }
  }
  .search-results {
    .header {
      padding-top: 8px;
      padding-bottom: 2px;
      padding-left: 5px;
      /*font-variant: small-caps;*/
      text-transform: uppercase;
    }
    .song-results {
      height: 50px;
      width: 100%;
      padding-top: 5px;
      padding-left: 10px;
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: #222;
      border: 1px solid #222;
      position: relative;
      font-family: 'Lucida Grande', Helvetica, sans-serif;
      font-size: 13px;
      color: #d0d0d0;
      border-top: 1px solid #555;
      @include ellipsize-single-line;
    }
    .artist-results, .album-results {
      height: 50px;
      width: 100%;
      margin-top: 4px;
      margin-bottom: 4px;
      padding-left: 10px;
      background-color: #222;
      border: 1px solid #222;
      position: relative;
      font-family: 'Lucida Grande', Helvetica, sans-serif;
      font-size: 13px;
      color: #d0d0d0;
      border-top: 1px solid #555;
      @include ellipsize-single-line;
    }
    .song-results:hover, .artist-results:hover, .album-results:hover {
      background-color: #111;
    }
    .artist-results .artist-name {
      position: absolute;
      left: 60px;
      top: 0px;
      line-height: 26px;
    }
    .album-results {
      .artist-name, .album-name {
        position: absolute;
        left: 60px;
        top: 0px;
        line-height: 26px;
      }
    }
    .artist-results .cover-image, .album-results .cover-image {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 48px;
      width: 50px;
    }
    .artist-results .cover-image {
      border-radius: 25px;
    }
  }
  .searchbar {
    width: 230px;
    font-size: 16px;
    border: 0px;
    border-radius: 100px;
    padding: 5px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
    border: 2px solid $medium-gray;
  }
  .clear {
    clear: both;
  }
  .tab {
    cursor: pointer;
    display: block;
    float: left;
    padding: 5px;
    color: #555;
    width: 100px;
    font-size: 18px;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .selected.tab {
    border-bottom: 2px solid $brand-orange;
    color: #000;
  }
  .tab:hover {
    background-color: rgba(4, 4, 4, 0.05);
  }
}

.catalog {
  position: absolute;
  overflow-y: hidden;
  top: 90px;
  bottom: 25px;
  left: 20px;
  right: 20px;
  z-index: 0;
  border-top: 1px solid $medium-gray;
  .artist-header, .album-header {
    position: relative;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    clear: both;
  }
  .artist-name, .album-name {
    font-size: 40px;
    word-wrap: break-word;
    position: absolute;
    top: 20px;
    left: 243px;
    right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    color: $medium-gray;
  }
  .artist-image, .album-image {
    height: 223px;
    width: 223px;
  }
  .artist-image {
    background-size: cover;
    border-radius: 120px;
  }
  .album-image {
    background-size: 223px 223px;
  }
  .big-cover-image {
    display: block;
    float: left;
    height: 180px;
    width: 180px;
    background-color: #efefef;
    border: 2px solid #efefef;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:hover .hover-name {
      opacity: 1;
    }
    .hover-name {
      position: relative;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}

::-webkit-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

.library {
  .header span {
    color: #888;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 2px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
  position: absolute;
  top: 100px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  .body {
    position: absolute;
    top: 40;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .song {

    clear: both;
    font-size: 14px;
    &.unplayable {
      color: $greyed-out-text;
    }
    &:hover {
      background-color: #ccc;

      .play-now, .add-button {
        display: block;
      }
      .track-number {
        display: none;
      }
    }
    span {
      height: 28px;
      line-height: 28px;
      border-bottom: 1px solid #ccc;
    }
    > {
      .play-now, .add-button {
        display: none;
        width: 2.5%;
        cursor: pointer;
      }
    }
    .album {
      .play-now, .add-button {
        display: none;
        cursor: pointer;
      }
      &:hover {
        .play-now, .add-button {
          display: inline;
        }
        .text {
          display: none;
        }
      }
    }
    .play-now:hover, .add-button:hover {
      color: $brand-orange;
    }

  }
  span {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
  }
  .track-number {
    width: 5%;
  }
  .title {
    width: 33%;
  }
  .album {
    width: 37%;
  }
  .artist {
    width: 20%;
  }
  .edit, .delete {
    display: none;
    cursor: pointer;
    width: 2.5%;
    color: #222;
  }
  .empty {
    width: 5%;
  }
  .song {
    &:hover {
      .edit, .delete {
        display: block;
      }
      .empty {
        display: none;
      }
    }
    .edit:hover, .delete:hover {
      color: $brand-orange;
    }
  }
  .import {
    font-weight: bold;
    font-size: 14px;
    padding-top: 20px;
    clear: both;
    color: $medium-gray;
    .button {
      cursor: pointer;
      color: #888;
      display: inline;
    }
  }
}

.save-playlist-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  > div {
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;
    padding-top: 35px;
    text-align: center;
    border-radius: 20px;
    background-color: $brand-tan;
  }
  input {
    font-size: 16px;
    height: 30px;
    padding-left: 4px;
    margin-bottom: 10px;
    width: 90%;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    color: $medium-gray;
  }
  span {
    display: inline-block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 16px;
    width: 89%;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    color: #000;
  }
  .button-container {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  .button {
    display: inline;
    padding: 30px;
  }
}

.playlists {
  position: absolute;
  top: 100px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  .delete {
    visibility: hidden;
    cursor: pointer;
    display: inline;
    &:hover {
      color: $brand-orange;
    }
  }
  .track-container {
    position: absolute;
    overflow: hidden;
  }
  .tracks {
    position: absolute;
    left: 20px;
    top: 128px;
    bottom: 0px;
    right: 0;
    overflow: hidden;
  }
  .names-list-container {
    display: block;
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #666;
    overflow: hidden;
  }
  .names-list {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .list-name {
    clear: both;
    font-size: 14px;
    @include ellipsize-single-line;
    span {
      height: 28px;
      line-height: 28px;
      cursor: pointer;
    }
    &:hover .delete {
      visibility: visible;
    }
  }
  .name {
    width: 100%;
  }
  .selected.list-name {
    background-color: rgba(4, 4, 4, 0.1);
  }
  .list-container {
    display: block;
    float: left;
    position: relative;
    width: 80%;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
  }
  .playlist-header {
    display: block;
    float: left;
    width: 100%;
    /*padding-left: 20px;*/
  }
  .playlist-title {
    font-size: 34px;
    padding-bottom: 20px;
    @include ellipsize-single-line;
    /*padding-left: 20px;*/
    /*display: block;
    float: left;*/
    /*width: 100%;*/
  }
  .header span {
    color: #888;
    /*font-weight: bold;*/
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    border-bottom: 1px solid #888;
  }
}

.catalog .header span {
  color: #888;
  /*font-weight: bold;*/
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 20px;
  border-bottom: 1px solid #888;
}

.playlists .button-container {
  /*margin-left: 50px;*/
}

.catalog .button-container {
  /*padding-left: 20px;*/
  position: absolute;
  left: 265px;
  bottom: 0px;
  /*padding-top: 20px;*/
}

.playlists .add-playlist, .catalog .add-album {
  cursor: pointer;
  font-size: 20px;
  font-variant: small-caps;
  text-transform: lowercase;
  background-color: $brand-orange;
  color: white;
  text-shadow: 0px 1px 0 #333;
  width: 150px;
  height: 25px;
  border-radius: 100px;
  border: 0px;
  padding-bottom: 5px;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}

.playlists .add-playlist {
  display: inline-block;
}

.catalog {
  .add-album {
    float: left;
    cursor: pointer;
  }
  .add-to-library, .play-now {
    cursor: pointer;
  }
}

.playlists {
  .play-now {
    cursor: pointer;
  }
  .add-playlist:hover {
    background-color: #dd7200;
  }
}

.catalog {
  .add-album:hover {
    background-color: #dd7200;
  }
  .add-to-library {
    &:hover {
      background-color: #00a237;
    }
    &:active {
      box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .add-album:active {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  .add-to-library {
    cursor: pointer;
    font-size: 20px;
    font-variant: small-caps;
    text-transform: lowercase;
    background-color: #00b43d;
    color: white;
    text-shadow: 0px 1px 0 #333;
    width: 170px;
    height: 25px;
    border-radius: 100px;
    border: 0px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: 12px;
    margin-top: 5px;
    float: left;
  }
  .play-now {
    font-size: 35px;
    padding-bottom: 5px;
    float: left;
    margin-right: 12px;
  }
}

.playlists {
  .play-now {
    font-size: 35px;
    padding-bottom: 5px;
    float: left;
    margin-right: 12px;
    display: inline-block;
  }
  .song {
    clear: both;
    font-size: 14px;
  }
}

@mixin table-element {
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.catalog {
  .song {
    clear: both;
    font-size: 14px;

    &.selected span {
      background-color: rgba(4, 4, 4, 0.1);
    }
    &.unplayable span{
      color: $greyed-out-text;
    }
  }

  span {
    @include table-element;
  }
}

.playlists {
  .header {
    position: absolute;
    width: 100%;
    span {
      @include table-element;
    }
  }
  .tracks span {
    @include table-element
  }
}

.playlists {
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
  .song span {
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
  }
}

.catalog .song span {
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #ccc;
}

.playlists .song:hover span, .catalog .song:hover span {
  background-color: #ccc;
}

.playlists .song:hover .play-button, .catalog .song:hover .play-button, .playlists .song:hover .add-button, .catalog .song:hover .add-button {
  display: block;
}

.playlists .song:hover .track-number, .catalog .song:hover .track-number {
  display: none;
}

.playlists .song .play-button, .catalog .song .play-button, .playlists .song .add-button {
  font-size: 14px;
  display: none;
  width: 2.5%;
  cursor: pointer;
}

.catalog .song {
  .add-button {
    font-size: 14px;
    display: none;
    width: 2.5%;
    cursor: pointer;
  }
  .play-button:hover {
    color: $brand-orange;
  }
}

.playlists .song {
  .play-button:hover, .add-button:hover {
    color: $brand-orange;
  }
}

.catalog .song .add-button:hover {
  color: $brand-orange;
}

.playlists .track-number, .catalog .track-number {
  width: 5%;
}

.playlists .title, .catalog .title {
  width: 35%;
}

.playlists .album, .catalog .album {
  width: 40%;
}

.playlists .artist, .catalog .artist {
  width: 20%;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
